# DATABASE CONFIG
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/usersdb
SPRING_DATASOURCE_USERNAME=users_admin
SPRING_DATASOURCE_PASSWORD=your_users_db_password

# AWS COGNITO CONFIG
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX